diffusers==0.21.4
matplotlib==3.7.1
numpy==1.23.5
opencv_python==4.7.0.72
pandas==2.0.3
Pillow==9.4.0
pyquaternion==0.9.9
torch==2.1.0+cu118
torchmetrics==1.2.0
torchvision==0.16.0+cu118
tqdm==4.65.0
transformers==4.28.1